body, 
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --main-color: #03A9F4;
}

img {
    width: 100px;
    object-fit: none;
    object-position: bottom;
    background-color: violet;

}

.bg-img {
    height: 100px;
    width: 100%;
    background-color: red;
    background-image: url(../../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.bg-main {
    background-color: var(--main-color);
}

